# 환경 변수
.env
.env.local
.env.*.local

# 의존성
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log
.pnpm-debug.log

# 빌드 결과
.next
dist
build
out

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
.DS_Store

# 기타
.vercel
